.hate-button {
	left: 		20px;
	display: 	none;
}
.fft-stats {
	position: 		absolute;
	top: 			20px;
	right: 			50px;
	line-height: 	45px;
	letter-spacing: 0.025em;
	font-style: 	italic;
	color: 			$yellow;
}