@import "../bower_components/colors/sass/_variables";
//@import "./_debug";

$playerHeight: 180px;
$vertPlayerBuffer: 45px;

body {
	background: $black;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
strong {
	font-weight: 500;
}
.main-wrapper {
	position: 	relative;
	width: 		100%;
	height: 	100%;
}
.main-stage {
	position: 	absolute;
	background: #222;
}
button {
	position: 		absolute;
	border: 		0;
	background: 	transparent;
	color: 			$fuchsia;
	border: 		1px solid $fuchsia;
	transition: 	all 0.2s;
	text-transform: uppercase;
	font-weight: 	100;
	cursor: 		pointer;
	-webkit-appearance: none;
	&:hover {
		border-color: 	white;
		color: 			white;
	}
}

@mixin abs-center($width: 0, $height: 0) {
	position: absolute;
	@if $width != 0 {
		left: 			0;
		right: 			0;
		margin-left: 	auto;
		margin-right: 	auto;
		width: 			$width;
	}
	@if $height != 0 {
		top: 			0;
		bottom: 		0;
		margin-top: 	auto;
		margin-bottom: 	auto;
		height: 		$height;
	}
}
.shake-it-indicator,
.game-over,
.countdown,
.title {
	@include abs-center(375px);
	bottom: 50%;
	margin-bottom: $vertPlayerBuffer + $playerHeight / 2;
	color: $fuchsia;
	text-shadow: 0 0 25px $fuchsia;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	transform: matrix(1, -0.1, 0, 1, 0, 0);
}

.shake-it-indicator,
.game-over,
.countdown {
	display: none;
	font-size: 4em;
}
.shake-it-indicator {
	font-size: 4em;
	transition: transform 0.1s;
	transform: scale3d(1,1,1);
}
.shake-it-indicator[data-mode=off] {
	color: $gray;
	text-shadow: 0 0 25px $gray;
	opacity: 0.5;
	transform: scale3d(0,0,0);
}

.title {
	* {
		margin: 0;
	}
	*:first-child {
		font-size: 4em;
		line-height: 1em;
	}
	.small {
		font-size: 2em;
		text-align: right;
		letter-spacing: 0.7em;
	}
}
.replay-button {
	display: none;
}
.replay-button,
.play-button {
	@include abs-center(160px);
	top: 			50%;
	margin-top: 	$vertPlayerBuffer + $playerHeight / 2;
	font-size: 		5em;
	padding: 		0.5em 0.6em;
	border-radius: 	50%;
}
.launch-button {
	margin-left: 	-224px * 0.5;
	font-size: 		2em;
	letter-spacing: 0.1em;
	padding: 		0.25em 0.5em;
	border-radius: 	5px;
}
.help-box {
	@include abs-center(400px, 620px);
	display: 		none;
	padding: 		1em;
	box-sizing: 	border-box;
	background: 	rgba(#222, 0.95);
	text-align: 	center;
	letter-spacing: 0.05em;
	font-weight: 	100;
	color: 			white;
	.briefing {
		margin: 3em 0;
	}
}
.align-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.help-controls {
	transform: matrix(1, -0.05, 0, 1, 0, 0);
	p {	margin: 0; }
	.controls {
		display: 		inline-block;
		vertical-align: middle;
		p {
			display: 		inline-block;
			border: 		1px solid white;
			padding: 		0.25em;
			border-radius: 	5px;
		}
	}
	.row {
		margin: 		0;
		width: 			6em;
		text-align: 	center;
		margin-bottom: 	0.25em;
	}
	.copy {
		display: 		inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		font-weight: 	400;
	}
}